<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <link rel="stylesheet" href="__BOOTSTRAPCSS__">
    <link rel="stylesheet" href="__COMMONCSS__">
    <link rel="stylesheet" href="__PUBLIC__//Theater/index.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/movieDetail.css">
</head>
<body>
<div class="simple-info">
    <div class="haibao">
        <img src="/huigoupiao/Public/AllPic/haibao/thwj.png" alt="">
    </div>
    <div class="main-info">
        <div class="title">
            <p class="chinaese-title"></p>
            <p class="english-title"></p>
        </div>
        <div class="time">
            <p class="type mb10"></p>
            <p class="all-time mb10"></p>
            <p class="begin-time mb10"></p>
        </div>
        <div class="edit">
            <button class="btn btn-danger btn-block look" movieid="2">想看</button>

        </div>
    </div>

</div>
<div class="container" id="app">
    <div class="main-content-container clearfix">
        <div class="main-content">
            <div class="tab-container">
                <div class="tab-title-container clearfix">
                    <div class="tab-title " data-act="tab-desc-click"><a href="#story">介绍</a></div>
                    <div class="tab-title " data-act="tab-celebrity-click"><a href="#person">演职人员</a></div>
                    <div class="tab-title " data-act="tab-img-click"><a href="#imgs">图集</a></div>
                </div>
                <div class="tab-content-container">
                    <div class="tab-desc tab-content active" data-val="{tabtype:'desc'}">

                        <div class="module" id="story">
                            <div class="mod-title">
                                <h3>剧情简介</h3>
                            </div>
                            <div class="mod-content">
                                <span class="dra"></span>
                            </div>
                        </div>


                        <div class="module" id="person">
                            <div class="mod-title">
                                <h3>演职人员</h3>
                            </div>
                            <div class="mod-content">
                                <div class="celebrity-container clearfix">

                                    <div class="celebrity-group">
                                        <div class="celebrity-type">
                                            导演:
                                        </div>
                                        <div class="celebrity-list clearfix director">






                                        </div>
                                    </div>


                                    <div class="celebrity-group clearfix">
                                        <div class="celebrity-type">
                                            演员:
                                        </div>
                                        <div class="celebrity-list clearfix actior">


                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>



                        <div class="module"  id="imgs">
                            <div class="mod-title">
                                <h3>图集</h3>
                            </div>
                            <div class="mod-content">
                                <div class="album clearfix" data-act="movie-img-click">
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JQUERY__"></script>
<script src="__BOOTSTRAPJS__"></script>
<script src="__PUBLIC__/common.js"></script>
<script src="__PUBLIC__/Admin/movieDetail.js"></script>
</body>
</html>