<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__BOOTSTRAPCSS__">
    <link rel="stylesheet" href="__COMMONCSS__">
    <link rel="stylesheet" href="__PUBLIC__/Theater/buyBook.css">
</head>
<body>
<div class="container" id="app">



    <div class="main clearfix">
        <div class="hall">
            <div class="seat-example">
                <div class="selectable-example example">
                    <span>可选座位</span>
                </div>
                <div class="sold-example example">
                    <span>已售座位</span>
                </div>
                <div class="selected-example example">
                    <span>已选座位</span>
                </div>
                <div class="couple-example example">
                    <span>情侣座位</span>
                </div>
            </div>


            <div class="seats-block" data-cols="12" data-section-id="0000000000000001" data-section-name="普通区" data-seq-no="201804220017518">
                <div class="row-id-container">
                    <span class="row-id">1</span>
                    <span class="row-id">2</span>
                    <span class="row-id">3</span>
                    <span class="row-id">4</span>
                    <span class="row-id">5</span>
                    <span class="row-id">6</span>
                    <span class="row-id">7</span>
                    <span class="row-id">8</span>
                </div>

                <div class="seats-container">
                    <div class="screen-container" style="left: 0px;">
                        <div class="screen">银幕中央</div>
                        <div class="c-screen-line"></div>
                    </div>

                    <div class="seats-wrapper">
                      <!--  <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>
                        <div class="row">
                            <span class="seat selectable" data="8-1"></span>
                            <span class="seat selectable" data="8-2"></span>
                            <span class="seat selectable" data="8-3"></span>
                            <span class="seat selectable" data="8-4"></span>
                            <span class="seat selectable" data="8-5"></span>
                            <span class="seat selectable" data="8-6"></span>
                            <span class="seat selectable" data="8-7"></span>
                            <span class="seat selectable" data="8-8"></span>
                            <span class="seat selectable" data="8-9"></span>
                            <span class="seat selectable" data="8-10"></span>
                        </div>-->

                    </div>
                </div>

            </div>

        </div>

        <div class="side">
            <div class="movie-info clearfix">
                <div class="poster">
                    <img src="">
                </div>
                <div class="content">
                    <p class="name text-ellipsis"></p>
                    <div class="info-item">
                        <span>类型 :</span>
                        <span class="value type"></span>
                    </div>
                    <div class="info-item">
                        <span>时长 :</span>
                        <span class="value time"></span>
                    </div>
                </div>
            </div>

            <div class="show-info">
                <div class="info-item">
                    <span>影院 :</span>
                    <span class="value theater text-ellipsis"></span>
                </div>
                <div class="info-item">
                    <span>影厅 :</span>
                    <span class="value house text-ellipsis"></span>
                </div>
                <div class="info-item">
                    <span>版本 :</span>
                    <span class="value language text-ellipsis"></span>
                </div>
                <div class="info-item">
                    <span>场次 :</span>
                    <span class="value text-ellipsis screen date"></span>
                </div>
                <div class="info-item">
                    <span>票价 :</span>
                    <span class="value text-ellipsis price"></span>
                </div>
            </div>

            <div class="ticket-info">
                <div class="no-ticket">
                    <p class="buy-limit">座位：一次最多选6个座位</p>
                    <p class="no-selected">请<span>点击左侧</span>座位图选择座位</p>
                </div>
                <div class="has-ticket" style="display:none">
                    <span class="text">座位：</span>
                    <div class="ticket-container" data-limit="6"></div>
                </div>

                <div class="total-price">
                    <span>总价 :</span>
                    <span class="price">0</span>
                </div>
            </div>

            <div class="confirm-order">
                <div class="confirm-btn " >确认选座</div>
            </div>
        </div>
    </div>



</div>
<script src="__JQUERY__"></script>
<script src="__BOOTSTRAPJS__"></script>
<script src="__PUBLIC__/common.js"></script>
<script src="__PUBLIC__/Theater/buyBook.js"></script>
</body>
</html>
